//
   Created by Neil on 2015/12/18.
extends main_jade
block content
    h1 User using Jade Template
    ul
        li Name: #{uname}
        li Vehicle: #{vehicle}
        li Terrain: #{terrain}
        li Climate: #{climate}
        li Location: #{location}
